{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock title %}
{% block body %}
<h4>detail page</h4>
<table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            
            <th scope="col">Action</th>
            
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <th scope="row">{{d.id}}</th>
            <td>{{d.username}}</td>
            <td>{{d.email}}</td>
            <td>{{d.address}}</td>
            <td><a class="btn btn-warning" href="{% url 'updatedata' d.id %}">update</a></td>
            <td><a class="btn btn-danger" href="{% url 'deletedata' d.id %}">Delete</a></td>

            
           

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock body %}